<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
	<header>
		<div class="main">
			<div class="logo">
				<a href="#">SHOPTEC</a>
			</div>
			<ul>
				<li class="active"><a href="#">HOME</a></li>
				<li><a href="#">ABOUT</a></li>
				<li><a href="#">CONTACT</a></li>
				<li><a href="/register">SIGNUP</a></li>
			</ul>
		</div>
		<div class="title">
			<h1>WELCOME SIR</h1>
		</div>
		<div class="button">
			<a href="/login" class="btn">ADMIN</a>
			<a href="/customerlogin" class="btn">LOGIN</a>
		</div>
	</header>

</body>
</html>